# Data .wav files with speech #
##############
data/wavs/*.wav
runFolder/*.wav

# Ignore mPraat toolbox #Checking out defb03c commit from https://github.com/bbTomas/mPraat repo
# mPraat/

# Ignore Matlab's temporary files
*.asv

# Ignore precalculated features
detect_syllabuses/features_syls/*.mat
detect_speech/features_speech/*.mat

# Ignore checkpoints folder
detect_syllabuses/checkpoints_syls
detect_speech/checkpoints_speech

detect_syllabuses/bestnet
detect_speech/bestnet

